<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{style1.css}">
</head>
<body>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <a style="text-decoration: none" href="/admin">
            <h6 class="m-0 font-weight-bold text-primary">Admin Page</h6>
        </a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Tên đăng nhập</th>
                    <th>Số điện thoại</th>
                    <th>Email</th>
                    <th>Địa chỉ</th>
                    <th>Role</th>
                    <th>Active</th>
                </tr>
                </thead>
                <tbody th:each="account : ${accounts}">
                <tr>
                    <td th:block th:text="${account.userName}"></td>
                    <td th:block th:text="${account.userPhone}"></td>
                    <td th:block th:text="${account.userMail}"></td>
                    <td th:block th:text="${account.userAddress}"></td>
                    <td th:block th:text="${account.userRole}"></td>
                    <td th:block th:text="${account.active}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>