<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Receipt</title>
    <link rel="stylesheet" th:href="@{style1.css}">
</head>
<body>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <a style="text-decoration: none" href="/admin">
            <h6 class="m-0 font-weight-bold text-primary">Admin Page</h6>
        </a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Số hóa đơn</th>
                    <th>Tên khách hàng</th>
                    <th>Địa chỉ</th>
                    <th>Số điện thoại</th>
                    <th>Số tiền phải thanh toán</th>
                    <th>Xem chi tiết</th>
                </tr>
                </thead>
                <tbody th:each="listReciept : ${listReciepts}">
                <tr>
                    <td th:block th:text="${listReciept.id}"></td>
                    <td th:block th:text="${listReciept.customerName}"></td>
                    <td th:block th:text="${listReciept.customerAddress}"></td>
                    <td th:block th:text="${listReciept.customerPhone}"></td>
                    <td th:block th:text="${listReciept.amount}"></td>
                    <td>
                        <a th:href="@{/recieptDetail/{id}(id = ${listReciept.id})}">
                            <button class="btn btn-primary">Xem chi tiết</button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>