<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-shims.min.css" media="all" rel="stylesheet"
          id="font-awesome-5-kit-css">
    <link href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-font-face.min.css" media="all"
          rel="stylesheet">
    <link href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all" rel="stylesheet">
</head>
<body>
    <h1 style="position: absolute; top: 40%; left: 50%; transform: translate(-50%, -50%);">Chúc mừng bạn đã đăt hàng thành công !!!</h1>
    <h6 style="position: absolute; top: 50%; left: 33%; transform: translate(-50%, -50%);">Mã đơn hàng của bạn là : <th:block th:text="${order.id}"></th:block></h6>
    <a href="/" >
        <button style="position: absolute; top: 60%; left: 43%; transform: translate(-50%, -50%);" class="btn btn-primary">Home</button>
    </a>
    <a th:href="@{/reciept/{customerName}(customerName = ${#request.userPrincipal.name})}">
        <button style="position: absolute; top: 60%; left: 50%; transform: translate(-50%, -50%);" class="btn btn-primary">Reciept</button>
    </a>
</body>
</html>