<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thế Giới Di Động</title>
    <link rel="icon" href="favicon.ico">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-shims.min.css" media="all" rel="stylesheet"
          id="font-awesome-5-kit-css">
    <link href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-font-face.min.css" media="all"
          rel="stylesheet">
    <link href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container" style="margin-top:60px">
    <div>
        <ul th:each="detailReciept : ${detailReciepts}" style="margin-top: 80px">
            <li>
                <h5>Tên sản phẩm :
                    <th:block th:text="${detailReciept.getProduct().name}"/>
                </h5>
            </li>
            <li>Hình ảnh :
                <img style="width: 100px; height: 100px" th:src="${detailReciept.getProduct().image}" alt="">
            </li>
            <li>Giá tiền :
                <th:block th:text="${detailReciept.getProduct().price}"/>
            </li>
            <li>Số lượng :
                <th:block th:text="${detailReciept.quanity}"/>
            </li>
            <li>Thành tiền :
                <th:block th:text="${detailReciept.getAmount()}"/>
            </li>
        </ul>
    </div>
</div>
</body>
</html>