<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Thế Giới Di Động</title>
    <link rel="icon" href="favicon.ico">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-shims.min.css" media="all" rel="stylesheet"
          id="font-awesome-5-kit-css">
    <link href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-font-face.min.css" media="all"
          rel="stylesheet">
    <link href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="position: fixed; z-index: 1; top: 0px; width: 100%;">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link"  style="padding-left: 50px">Product List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/myCart" style="padding-left: 50px">My Cart</a>
            </li>
            <li class="nav-item">
                <th:block sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/reciept/{customerName}(customerName = ${#request.userPrincipal.name})}" style="padding-left: 50px">Reciept</a>
                </th:block>
                <th:block sec:authorize="!isAuthenticated()">
                    <a class="nav-link" style="text-decoration: none; padding-left: 50px" th:href="@{/login}">Reciept</a>
                </th:block>
            </li>
            <li class="nav-item" style="padding-left: 50px; position: absolute; right: 25px; display: flex">
                <th:block sec:authorize="isAuthenticated()">
                    <p style="padding-top: 8px;color: white;">Xin chào</p>
                    <a class="nav-link nav-item" style="text-decoration: none" th:utext="${#request.userPrincipal.name}">..</a>
                    <p style="padding-top: 4px;color: white;">&nbsp;|&nbsp;</p>
                    <a class="nav-link" th:href="@{/logout}">Logout <i class="fas fa-sign-in-alt"></i></a>
                </th:block>

                <th:block sec:authorize="!isAuthenticated()">
                    <a class="nav-link" style="text-decoration: none" th:href="@{/login}">Login  <i class="fas fa-sign-in-alt"></i></a>
                    <a class="nav-link" style="text-decoration: none" href="/resgiter">Register  <i class="fas fa-user-plus"></i></a>
                </th:block>
            </li>
        </ul>
    </div>
</nav>
<div class="container" style="margin-top:60px">
    <div class="row">
        <div class="card" style="margin: 40px; width:300px" th:each="product : ${listProduct}">
            <img class="card-img-top" th:src="${product.image}" alt="Card image" style="height: 300px">
            <div class="card-body">
                <h4 class="card-title" style="white-space: nowrap; width: 270px; overflow: hidden; text-overflow: ellipsis; border: none;">
                    <th:block th:text="${product.name}"></th:block>
                </h4>
                <p class="card-text">Giá tiền :
                    <th:block th:text="${product.price} "/>
                    VND
                </p>
                <a th:href="@{/buyProduct/{code}(code = ${product.code})}" class="btn btn-primary">Add To Cart</a>
            </div>

        </div>

    </div>
</div>
<div class="jumbotron text-center" style="margin-bottom:0">
    <div class="row ">
        <div class="text-footer col-lg-12">
            2020 &#169; LÊ THẾ ANH WEBSITE | Design by <a style="text-decoration: none;" href="https://www.facebook.com/theanh.galaxy" target="_blank">Thế Anh &#174;</a>
        </div>
    </div>
</div>
</body>
</html>