<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reciept</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-shims.min.css" media="all" rel="stylesheet"
          id="font-awesome-5-kit-css">
    <link href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-font-face.min.css" media="all"
          rel="stylesheet">
    <link href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all" rel="stylesheet">
    <link rel="stylesheet" th:href="@{style1.css}">
</head>
<body>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <a style="text-decoration: none" href="/">
            <h6 class="m-0 font-weight-bold text-primary">Home Page</h6>
        </a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Số hóa đơn</th>
                    <th>Tên khách hàng</th>
                    <th>Địa chỉ</th>
                    <th>Số điện thoại</th>
                    <th>Số tiền phải thanh toán</th>
                    <th>Xem chi tiết</th>
                </tr>
                </thead>
                <tbody th:each="listRecieptInUser : ${listRecieptsInUsers}">
                <tr>
                    <td th:block th:text="${listRecieptInUser.id}"></td>
                    <td th:block th:text="${listRecieptInUser.customerName}"></td>
                    <td th:block th:text="${listRecieptInUser.customerAddress}"></td>
                    <td th:block th:text="${listRecieptInUser.customerPhone}"></td>
                    <td th:block th:text="${listRecieptInUser.amount}"></td>
                    <td>
                        <a th:href="@{/detailReciept/{id}(id = ${listRecieptInUser.id})}">
                            <button class="btn btn-danger">Xem chi tiết</button>
                        </a>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>